 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 .card-container{
    background:black;
    height: 100vh;
 }
 .logo-img {
    text-align: center;
    padding-top: 2rem;
    color: #fff;
 }
 .logo-img img{
    width: 20%;
 }
 .icons{
    font-size: 2rem;
    text-align: center;
    padding-top:2rem ;
 }
 .icons i{
    padding-left: 1rem;
 }
 .tab-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .tab-btn button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .tab-btn button.active {
    background-color: #4CAF50;
    color: white;
  }

  .tab-content {
    display: none;
    text-align: center;
  }

  .tab-content.active {
    display: block;
  }
  #link{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    flex-wrap: wrap;
    border-radius: 20px;
    width: 30%;
    height:20vh;
    gap: 10px;
  }
  #link img{
    width: 15%;
  }
  #shop{
    display:none;
    justify-content: center;
    align-items: center;
    background: #ddd;
    flex-wrap: wrap;
    border-radius: 20px;
    width: 30%;
    height:20vh;
    gap: 10px;
  }
  #shop img{
    width: 15%;
  }
  